@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    padding-bottom: 1rem;
}

span {
    display: inline-block;
    color: orange;
    padding-bottom: 2.25rem;
}

h3 {
    font-size: 23px;
    padding-bottom: 1.5rem;
}

p {
    font-size: 18px;
    padding-bottom: 2rem;
    text-align: justify;
}

.header-section {
    background: url(./images/top-banner.png) center/cover no-repeat;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-info {
    width: 45%;
    margin: 2rem;
    padding-right: 5%;
}

.header-photo {
    width: 45%;
}

.header-photo img {
    width: 100%;
    padding-top: 2rem;
}

button {
    text-transform: uppercase;
    color: white;
    background-color: orange;
    font-weight: bold;
    border: transparent;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.05rem;
}

/* dream big section */